.overlay {
  width: 100vw;
  height: 100vh;
  background: rgb(0, 0, 0, 0.4);
  position: fixed;
  z-index: 10;
}

.overlay-content {
  width: 40vw;
  height: 70vh;
  background-color: white;
  margin-left: 30vw;
  margin-top: 20vh;
  box-shadow: rgba(0, 0, 0, 0.3) 0px 19px 38px,
    rgba(0, 0, 0, 0.22) 0px 15px 12px;
}

.form-wrapper {
  padding: 3vw 3vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.form-wrapper > h1 {
  text-transform: uppercase;
  margin-bottom: 50px;
  margin-top: 30px;
}

.input-item {
  outline: none;
  margin: 10px;
  width: 40vh;
  height: 5vh;
  border: 1px solid #e7a200;
  text-align: center;
  color: #e7a200;
  font-size: 2.5vh;
}

.input-item::placeholder {
  color: #e7a200;
}

.input-button {
  margin-top: 50px;
  outline: none;
  border: none;
  color: white;
  background-color: #ff5e6c;
  width: 10vw;
  height: 6vh;
  font-size: 2vh;
  font-weight: 800;
  border-radius: 5px;
  cursor: pointer;
}

.input-button:hover {
  background-color: #e65863;
}

.input-button-2 {
  margin-top: 50px;
  outline: none;
  border: 2px solid black;
  color: rgb(0, 0, 0);
  background-color: #fff5d7;
  width: 10vw;
  height: 6vh;
  font-size: 2vh;
  font-weight: 800;
  border-radius: 5px;
  cursor: pointer;
  margin-left: 20px;
}

.link-to-home {
  font-size: 2vh;
  border-bottom: 1px solid Black;
  margin-top: 3vh;
}

.link-to-home-tag:hover,
.link-to-home-tag:visited,
.link-to-home-tag:link,
.link-to-home-tag:active {
  text-decoration: none;
}

.link-to-home-tag{
  color: black;
}
