.container-toggle{
    height: auto;
    width: 100vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.hospital-page {
  padding: 10px;
  width: 100vw;
  height: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.input-form-container {
  background-color: #fff5d7;
  background-size: cover;
  height: 80vh;
  width: 60vw;
  border-radius: 8px;
  padding: 10px;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  margin: 10px;
}

.input-field-container {
  height: 100%;
  width: 100%;
  font-family: "Montserrat", sans-serif;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
}

.input-field {
  outline: none;
  margin: 10px;
  width: 20vw;
  height: 3vh;
  border: 1px solid #e7a200;
  text-align: center;
  color: #e7a200;
  font-family: "Montserrat", sans-serif;
  font-size: 2vh;
}

.select {
  background-color: white;
  text-indent: 40%;
}

.table-container{
  margin-top: 2vh;
  margin-bottom: 2vh;
}

table{
  border-collapse: collapse;
}

th, td{
  width: 7vw;
  height: 3vh;
}

th {
  border: 1px solid#feb300;
  padding: 0.5rem;
}

td {
  border: 1px solid #ffebae;
}

th{
  color:#ff5e6c;
  background-color: #fff5d7;
}

.hospital-page-header{
  height: 30vh;
  width: 90vw;
  background-color: #000000;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: 10px;
  padding: 1.5rem;
  color: white;
}

.hospital-name{
  text-transform: uppercase;
  margin-bottom: 2vh;
  font-size: 6vh;
  font-weight: 700;
}

.count{
  margin-top: 4vh;
  display: flex;
  width: 50vw;
  justify-content: space-evenly;
  font-size: 1.5rem;
}

.add-patient-button{
  margin-left: 80vw;
}

.cancel-button{
  background-color: #feb300;
  color: #000000;
  margin-left: 80vw;
}
.cancel-button:hover{
  background-color:#fff5d7;
}